<form action='/spaces' method='post'>
  Description:<input type='text' name='description'>
  Location:<input type='text' name='location'>
  Availability:<input type='text' name='availability'>
  <input type='submit' name='Submit'>
</form>