<form action='/spaces' method='post'>
  <label for="description">Description:</label>
  <input type='text' name='description'>
  <label for="location">Location:</label>
  <input type='text' name='location'>
  <label for="start">Start date:</label>
  <input type='date' name='start_date'>
  <label for="start">End date:</label>
  <input type='date' name='end_date'>
  <label for="start">Price:</label>
  <input type='text' name='price'>
  <input type='submit' name='Submit'>
</form>
