<form action='/spaces' method='post'>
  Description: <input type='text' name='description'>
  Location: <input type='text' name='location'>
  Start date: <input type='text' name='start_date'>
  Start date: <input type='text' name='end_date'>
  Price: <input type='text' name='price'>
  <input type='submit' name='Submit'>
</form>
