<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Maker BnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../public/style.css" type="text/css">
  </head>
  <body>

    <%= flash[:notice] %>


    <% if !@user.nil? %>
    <form action='/sessions/<%= @user.id %>' method='POST' >
      <input type="hidden" name="_method" value='DELETE'>
      <input type='submit' value='Log out' name='Log out'>
    </form>
    <% else %>
    <a href="/users/new" name="Sign up">Sign up</a>
    <a href="/sessions/new" name="Log in">Log in</a>
    <% end %>



  </body>
</html>