<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <title>MGOD BnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="<%=url('/style.css')%>" >

    <link href="https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h1>MGOD BnB</h1>
      <h3>Matching you with the best spaces around</h3>
    </div>

    <div class="left-img banner"><img class="left-img"></div>

    <section>
      <%= yield %>
    </section>


    <div class="right-img banner"><img class="right-img"></div>
    <footer>MGOD &reg; 2020</footer>
  </body>
</html>

