<%= flash[:warning] %>

<form action='/sessions' method='post'>
  <label for="email">Email:</label><br>
  <input type="text" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <input type="submit" name="Log in" value='Log in'><br>
</form>
