body {
  background: url('makersBnB.jpeg') no-repeat center center fixed; 
  background-size: cover;
  color: white;
}

.header{
  text-align: center;
}


footer {
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}