body {
  background: url('makersBnB.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0px;
}

.container {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20% auto 10%;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3
}
/********** External pages **********/

.ext-controller {
  text-align: center;
  align-content: center;
  color: white;
}

.control  {
  color: white;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: auto;
}

.form > label {
  padding-top: 20px;
  }

.form-desc {
  height:100px;
}

.small-form {
  max-width: 30%;
}

/************************************/

.banner {
  border: 5px solid black;
  max-width: 100%;
  height: 100vh;
}

.left-img {
  background: url('left-baner.jpeg');
  background-size: 100% 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.right-img {
  background: url('right-baner.jpeg');
  background-size: 100% 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}


footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
