body {
  background: url('makersBnB.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0px;
}

.header{
  text-align: center;
}

.right-img, .left-img {
  height: 100%;
  width: 20%;
  
}

.banner {
  background: url('BnB.jpeg');
  border: 5px solid black;
  background-size: cover;
  max-width: 100%;
}

footer {
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}